<!DOCTYPE html>
<html>
<head>
  <title>Mini Messageboard</title>
</head>
<body>
  <h1>Mini Messageboard</h1>

  <a href="/new">Add New Message</a>

  <ul>
    <% messages.forEach(message => { %>
      <li>
        <strong><%= message.user %></strong><br>
        <%= message.text %><br>
        <small><%= new Date(message.added).toLocaleString() %></small>
      </li>
      <hr>
    <% }) %>
  </ul>
</body>
</html>